*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.overlay{
    padding-top: 100px;
    padding-bottom: 100px;
}

.player-one-display,
.player-two-display{
    display: grid;
    place-items: center;
}

.inline{
    display: inline-flex;
}

.space{
    padding: 10px;
}

label,
.score-player1,
.score-player2,
.dice-score-player1,
.dice-score-player2{
    font-family: 'Bowlby One SC', cursive;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-style: italic;
}

h1{
    font-family: 'Bowlby One SC', cursive;
    font-size: 45px;
    font-style: italic;
}

.dice-1,
.dice-2,
.dice-3,
.dice-4,
.dice-5,
.dice-6,
.dice-7,
.dice-8,
.dice-9,
.dice-10{
    font-family: 'Bungee', cursive;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    font-size: 34px;
    border-radius: 10px;
}

.roll-dice-player1,
.roll-dice-player2{
    border: none;
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    padding: 15px;
    font-weight: 800;
    font-size: 17px;
    font-family: 'Bungee', cursive;
    border-radius: 10px;
}

.center{
    display: grid;
    place-items: center;
    padding-top: 50px;
}

.winner{
    font-family: 'Bowlby One SC', cursive;
    font-style: italic;
    font-size: 30px;
}

.new-game,
.play-again{
    border: none;
    padding: 15px;
    background-color: rgb(220, 20, 60);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: 800;
    font-family: 'Bungee', cursive;
    font-size: 17px;
}